@import "./variables";

html{
    font-size: 62.5%;
}
body{
    background: $color-crema; 
}
.pasoscomprar li{
    font-family: map-get($estilos-base,font-family), cursive; font-size: map-get($estilos-base,font-size); list-style-type: number; padding-left: 1rem; text-align:left;
}
#terminos label{
    display: inline-block;
}
#video-comprar{
    width: 90%;
    height: 90%;
    overflow:hidden;
}
.form-contacto{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    padding: 1rem;
    font-family: map-get($estilos-base,font-family), cursive; line-height: 2; font-size: 2rem; background-color: $color-crema; text-align: map-get($estilos-base,text-align);
}
#boton-enviar{
    overflow: hidden; margin: 1rem;
}
#contenedor-video-comprar{ margin: 3rem; width:560px; height:315px; overflow:hidden; flex-shrink: 10;
}
.img-carrusel{
    height: 90vh; object-fit: cover
}
