@import "./variables";

h1{
    font-size: 4rem; color: $color-marron; font-family: 'Caveat', cursive;
}
h2{
    font-size: 3rem; font-family: map-get($estilos-base,font-family), cursive; color: $color-marron;
}
h3{
    font-size: 3rem; font-family: map-get($estilos-base,font-family), cursive; color: black;
}
h4{
    font-size: 2rem; font-family: map-get($estilos-base,font-family), cursive; color: black;
}


a{color: black; text-decoration: none;
}
p{
    font-family: map-get($estilos-base,font-family), cursive; line-height: 2; font-size: map-get($estilos-base,font-size); overflow: hidden; text-align: map-get($estilos-base,text-align); display: inline-block;
}
section{
    text-align: map-get($estilos-base,text-align);
}
label {
    display: block; /* Ahora los inputs quedan debajo de los label */
    padding: 1rem; /* Separando espacios internos */
}
input { 
    font-family: map-get($estilos-base,font-family), cursive; font-size: map-get($estilos-base,font-size); list-style-type: number; margin: map-get($estilos-base,margin);
    text-align:left; height: map-get($estilos-base,height);
}
option{
    font-family: map-get($estilos-base,font-family), cursive; font-size: 1,5rem; 
}
select{
    font-family: map-get($estilos-base,font-family), cursive; font-size: map-get($estilos-base,font-size); height: map-get($estilos-base,height);
}
legend{
    font-size: map-get($estilos-base,font-size);
}
.font1{
    font-size: 1.5rem;
}
img{
    @include margins(1.5rem, 1.5rem);;
}
#input-mensaje{
    height: 30vh;
    width: 50vw;
}